{% load static %}
<!-- através dessa base iremos aplicar o conceito de herança de templates -->
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Portifolio GVG{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/components.css' %}">
    {% block extra_css %}{% endblock %}
</head>

<body>
    <header>
        <nav>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'lista_projetos' %}">Projetos</a>
        </nav>
    </header>

    <main>
        <!-- aqui vai o conteúdo que será inserido pelos outros templates -->
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2026 GVG. Todos os direitos reservados.</p>
    </footer>
</body>

</html>